html,
body
{
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;

    min-width: 960px;

    text-transform: uppercase;

    color: #fff;
    background: #000 url('../img/barbershop-index/background-index.jpg')
    no-repeat center top;
}

.inner-page
{
    color: #000;
    background: #f8f3f0
    url('../img/barbershop-index/back-block-index.png')
    repeat;
}

img
{
    max-width: 100%;
    height: auto;
}

/* HEADER */

.main-header
{
    min-height: 70px;
    margin-bottom: 60px;

    color: #fff;
    background-color: #000;
}

.container
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix::after
{
    display: table;
    clear: both;

    content: '';
}

.main-navigation
{
    float: left;

    width: 800px;
}

.main-navigation a
{
    display: block;

    padding: 25px 20px;

    text-decoration: none;

    color: #fff;
}

.main-navigation a:hover
{
    background: #242424;
}

.main-navigation ul
{
    font-size: 0;

    margin: 0;
    padding: 0;

    list-style: none;
}

.main-navigation li
{
    font-size: 16px;
    line-height: 20px;

    display: inline-block;

    vertical-align: top;
}

.user-block
{
    float: right;

    max-width: 140px;
}

.login
{
    font-size: 16px;
    line-height: 20px;

    position: relative;

    display: inline-block;

    padding: 25px 20px;
    padding-left: 50px;

    vertical-align: top;
    text-decoration: none;

    color: #fff;
}

.login:hover
{
    background-color: #242424;
}

.login::before
{
    position: absolute;
    top: 28px;
    left: 20px;

    width: 18px;
    height: 18px;

    content: '';

    opacity: .3;
    background: url('../img/barbershop-index/sprite.png') no-repeat;
    background-position: -15px -15px;
}

.login:hover::before
{
    opacity: 1;
}

/* MAIN */

.index-logo
{
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.index-logo img
{
    width: 368px;
    height: 204px;
}

.item-index
{
    width: 640px;
    margin-bottom: 60px;
}

.features-item
{
    float: left;

    width: 300px;
    margin-right: 20px;
    margin-bottom: 80px;

    text-align: center;
}

.features-name
{
    font-size: 30px;
    line-height: 42px;

    position: relative;

    display: block;

    margin-bottom: 30px;
    padding-bottom: 35px;
}

.features-name::after
{
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-left: -10px;

    content: '';
    transform: rotate(45deg);

    background-color: #fff;
}

.features-item p
{
    margin: 10px;
    margin-bottom: 0;
}

.features-item:last-child
{
    margin-right: 0;
}

.features
{
    margin-bottom: 80px;
}

.index-content
{
    margin-bottom: 35px;
    padding: 50px 80px;

    color: #000;
    background: url('../img/barbershop-index/block-shadow-hr.png') no-repeat center,
    #f8f5f2
    url('../img/barbershop-index/back-block-index.png');
}

.index-content:first-of-type
{
    margin-top: 80px;
}

.index-content-title
{
    font-size: 30px;
    line-height: 42px;

    margin: 0;
    margin-bottom: 25px;
}

.index-content p
{
    margin: 0;
    margin-bottom: 25px;
}

.news-preview
{
    margin: 0;
    padding: 0;
    padding-right: 35px;

    list-style: none;
}

.news-preview li
{
    margin-bottom: 25px;
}

.news-preview p
{
    margin: 0;
}

.news-preview time
{
    font-weight: 400;

    text-transform: none;
}

.btn
{
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;

    display: inline-block;

    margin-right: 16px;
    padding: 10px 33px;

    cursor: pointer;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: none;
    outline: none;
    background-color: #000;
}

.btn:hover,
.btn:active
{
    background-color: #663d15;
}

.btn.disabled,
.btn:disabled
{
    cursor: default;

    opacity: .5;
}

.btn.disabled:hover,
.btn:disabled:hover
{
    background-color: #000;
}

/*
.gallery-next {
	position: relative;
	top: -44px;
	left: 120px;
}
*/

.gallery
{
    position: relative;

    height: 260px;
}

.gallery-content
{
    height: 164px;
    margin: 0;

    border: 7px solid #fff;
    background-color: #ccc;
}

.gallery-content img
{
    width: 286px;
    height: 164px;
}

.gallery .btn
{
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}

.gallery-prev
{
    left: 0;
}

.gallery-next
{
    right: 0;
}

.appointment-form input
{
    font: inherit;
    /*
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
*/

    float: left;

    width: 106px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 7px 15px;

    text-transform: inherit;

    color: inherit;
    border: 2px solid #000;
    outline: none;
    background-color: #f9f6f3;
}

.appointment-form input:nth-last-child(2n)
{
    margin-right: 0;
}

.appointment-form .btn
{
    clear: both;

    width: 100%;
}

.appointment-form input:focus
{
    border: 2px solid #663d15;
}


.index-content-left
{
    float: left;

    width: 380px;
    min-height: 300px;
}

.index-content-right
{
    float: right;

    width: 300px;
    min-height: 300px;
}

.main-footer
{
    min-height: 120px;
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;

    color: #fff;
    background: #252525 url('../img/barbershop-index/back-footer-index.png');
}

.footer-contacts
{
    float: left;

    width: 320px;
    min-height: 90px;
    margin-right: 60px;
}

.footer-social
{
    float: left;

    width: 180px;
    min-height: 90px;

    text-align: center;
}

.footer-copyright
{
    float: right;

    max-width: 180px;
}

.footer-copyright p
{
    margin: 0;
    margin-bottom: 15px;

    text-align: center;
}

.footer-copyright .btn
{
    margin-right: 0;
}

.footer-copyright .btn:hover
{
    color: #000;
    background-color: #fff;
}

.footer-contacts a
{
    color: #fff;
}

.footer-contacts a:hover
{
    text-decoration: none;
}

.footer-social p
{
    margin: 0;
    margin-bottom: 15px;
}

.social-btn
{
    font-size: 0;

    display: inline-block;

    width: 43px;
    height: 43px;
    margin: 0 2px;

    transition: background-position .5s,
    background-color .5s;
    vertical-align: top;
    text-decoration: none;

    background: #000 url(../img/barbershop-index/sprite.png) no-repeat center;
}


.social-btn-vk
{
    background-position: -6px -388px;
}

.social-btn-fb
{
    background-position: 1px -185px;
}

.social-btn-inst
{
    background-position: -3px -288px;
}

.social-btn:hover
{
    background-color: #fff;
}

.social-btn-vk:hover
{
    background-position: -6px -434px;
}

.social-btn-fb:hover
{
    background-position: 1px -237px;
}

.social-btn-inst:hover
{
    background-position: -3px -339px;
}

/* item.html */

.item-content
{
    margin-bottom: 60px;
}

.item-content-left
{
    float: left;

    width: 480px;
}

.item-content-right
{
    float: right;

    width: 400px;
    margin-top: 25px;
}

/*price.html*/
.price-content
{
    margin-bottom: 35px;
}
.main-navigation .logo-inner
{
    float: left;

    width: 111px;
    height: 20px;
    padding-top: 22px;
}
.main-navigation .logo-inner img
{
    width: 111px;
    height: 20px;
}
.main-navigation .logo-inner:hover
{
    background: none;
}
.main-navigation .active
{
    position: relative;

    background: none;
}
.main-navigation .active::after
{
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;

    height: 5px;

    content: '';

    background-color: #fff;
}
.main-navigation .active a:hover
{
    background: none;
}
.main-navigation .active span
{
    display: block;

    margin: 25px 20px;
}
.inner-page .main-header
{
    margin-bottom: 55px;
}
.inner-page-title h1
{
    font-size: 30px;
    line-height: 42px;

    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}
.breadcrumbs
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.breadcrumbs ul
{
    padding: 0;
}


.breadcrumbs a
{
    text-decoration: none;

    color: #000;
}
.breadcrumbs a:hover
{
    text-decoration: underline;
}
.breadcrumbs .current
{
    color: #aba9a7;
}
.breadcrumbs li
{
    position: relative;

    display: inline;

    padding-right: 40px;
}
.breadcrumbs li::after
{
    position: absolute;
    top: 4px;
    right: 18px;

    width: 8px;
    height: 8px;

    content: '';
    transform: rotate(45deg);

    background-color: #000;
}
.breadcrumbs .current::after
{
    display: none;
}
/* common styles for specific tags */
.big-heading
{
    margin-top: 55px;
    margin-bottom: 65px;

    text-align: center;
}
.inner-content .big-heading h2
{
    font-size: 48px;
    line-height: 48px;

    position: relative;
    z-index: 2;

    display: inline;

    margin: 0;
    padding: 0 25px;

    text-align: center;

    background: #f8f3f0
    url('../img/barbershop-index/back-block-index.png')
    repeat;
}
.big-heading::after
{
    position: relative;
    z-index: 1;
    top: -25px;

    display: block;

    content: '';

    border-bottom: 2px solid #000;
}
.inner-content
{
    margin-bottom: 75px;
}
.inner-content h2
{
    font-size: 24px;
    line-height: 30px;

    margin-top: 60px;
    margin-bottom: 30px;
}
.inner-content p
{
    margin: 14px 0;
}
.inner-content h3
{
    font-size: 20px;
    line-height: 24px;

    margin-top: 60px;
    margin-bottom: 30px;
}
.inner-content h2 + h3
{
    margin-top: 30px;
}
.inner-content table
{
    border-collapse: collapse;
}
.inner-content td
{
    padding: 10px 15px;

    border: 2px solid #000;
}
.custum-list-1
{
    margin: 14px 0;
    padding: 0;

    list-style: none;
}
.custum-list-1 li
{
    position: relative;

    margin-bottom: 15px;
    padding-left: 20px;
}
.custum-list-1 li::before
{
    position: absolute;
    top: 8px;
    left: 0;

    width: 8px;
    height: 8px;

    content: '';
    transform: rotate(45deg);

    background-color: #000;
}
.price-table
{
    width: 100%;
}
.price-table td
{
    width: 50%;
}
.price-table td:last-child
{
    text-align: center;
}
/* columns for content */
.inner-columns
{
    margin: 60px 0;
}
.inner-column-left,
.inner-column-right
{
    width: 460px;
}

.inner-column-right
{
    width: 450px;
}
.inner-column-left
{
    float: left;
}
.inner-column-right
{
    float: right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child
{
    margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child
{
    margin-bottom: 0;
}

.short-text
{
    padding-right: 80px;
}

.login-modal-content
{
    display: block;

    width: 300px;
    margin-left: auto;
    padding: auto;

    color: #000;
    background: #f8f3f0 url('../img/barbershop-index/back-block-index.png');
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0,7);
}


/*Всплывающая форма*/

.modal-content
{
    position: absolute;
    z-index: 20;
    top: 120px;
    left: 50%;

    display: none;

    width: 300px;
    margin-left: -230px;
    padding: 50px 80px;

    color: #000;
    background: #f8f3f0 url('../img/barbershop-index/back-block-index.png');
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0,7);
}

@keyframes bounce
{
    0%
    {
        transform: translateY(-2000px);
    }
    70%
    {
        transform: translateY(30px);
    }
    90%
    {
        transform: translateY(-10px);
    }
    100%
    {
        transform: translateY(0);
    }
}

.modal-content-show
{
    display: block;

    animation: bounce .6s;
}

@keyframes shake
{
    0%,
    100%
    {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90%
    {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80%
    {
        transform: translateX(10px);
    }
}

.modal-error
{
    animation: shake .6s;
}
.modal-content-close
{
    font-size: 0;

    position: absolute;
    top: 0;
    right: -34px;

    width: 22px;
    height: 22px;

    cursor: pointer;

    border: 0;
    outline: 0;
    background-color: transparent;
}

.modal-content-close::before,
.modal-content-close::after
{
    position: absolute;

    width: 19px;
    height: 3px;
    margin-top: -1px;
    margin-left: -10px;

    content: '';

    border-radius: 1px;
    background-color: #d0d0d0;
}

.modal-content-close::before
{
    transform: rotate(45deg);
}

.modal-content-close::after
{
    transform: rotate(-45deg);
}

.modal-content h2
{
    font-size: 30px;
    line-height: 42px;

    margin: 0;
    margin-bottom: 20px;
}

.modal-content p
{
    margin: 0;
    margin-bottom: 14px;
}

.modal-content .login-form
{
    margin-top: 30px;
    margin-bottom: 10px;
}

.login-form input[type='text'],
.login-form input[type='password']
{
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;

    width: 236px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 20px;
    padding-right: 40px;

    text-transform: uppercase;

    color: #000;
    border: 2px solid #000;
    outline: none;
    background-color: #f9f6f3;
}

.login-form input:focus
{
    border-color: #663d15;
}

.login-form input.icon-user
{
    background-image: url(../img/barbershop-index/sprite.png);
    background-repeat: no-repeat;
    background-position: 100% -47px;
}

.login-form input.icon-password
{
    background-image: url(../img/barbershop-index/sprite.png);
    background-repeat: no-repeat;
    background-position: 100% -93px;
}

.login-form .restore
{
    float: right;

    color: #000;
}

.login-form .btn
{
    width: 100%;
    margin-top: 15px;
}

.login-checkbox input[type='checkbox']
{
    display: none;
}

.login-checkbox
{
    position: relative;

    padding-left: 30px;

    cursor: pointer;
}

.login-checkbox:hover
{
    color: #663d15;
}

.login-checkbox input[type='checkbox'] + .checkbox-indicator
{
    position: absolute;
    top: -3px;
    left: 0;

    width: 17px;
    height: 17px;

    border: 2px solid #000;
}

.login-checkbox input[type='checkbox']:checked + .checkbox-indicator::before,
.login-checkbox input[type='checkbox']:checked + .checkbox-indicator::after
{
    position: absolute;
    top: 8px;
    left: 1px;

    width: 15px;
    height: 2px;

    content: '';

    background-color: #000;
}

.login-checkbox input[type='checkbox'] + .checkbox-indicator::before
{
    transform: rotate(45deg);
}

.login-checkbox input[type='checkbox'] + .checkbox-indicator::after
{
    transform: rotate(-45deg);
}

.modal-content-map
{
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;

    display: none;

    width: 766px;
    height: 561px;
    margin-top: -280px;
    margin-left: -390px;

    border: 7px solid white;
    background: #e9e5dc url(../img/barbershop-index/map.png);
    box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
}

.modal-content-map-show
{
    display: block;
}

.modal-overlay
{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(255, 0, 0, 0,5);
}

.inner-shop-column-left
{
    float: left;

    width: 190px;
}

.inner-shop-column-right
{
    float: right;

    width: 720px;
    margin-left: 30px;
}



.form fieldset
{
    border-width: 0;
}

.form-title
{
    font-size: 18px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 25px;
}

.form-title:last-of-type
{
    margin-top: 25px;
}

.item-shop
{
    float: left;

    width: 220px;
    height: 290px;
    margin-right: 20px;
    margin-bottom: 20px;

    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.75);
}

.item-shop-name
{
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
/*
.btn {
	display: inline-block;
	padding: 10px 33px;
	margin-right: 16px;

	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	vertical-align: top;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;

	background-color: #000000;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn:hover,
.btn:active {
	background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
	cursor: default;
	opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
	background-color: #000000;
}
*/



.btn-price
{
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;

    display: inline-block;

    min-width: 110px;
    min-height: 45px;
    /*	padding: 10px 33px;*/
    margin-right: 0;
    margin-left: 16px;

    cursor: pointer;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    color: #000;
    border: none;
    outline: none;
    background-color: #e5e5e5;
}

.btn-buy
{
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;

    display: inline-block;

    margin-left: -3px;
    /*
	min-width: 78px;
	min-height: 45px;
*/
    padding: 10.5px 19px;

    cursor: pointer;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: none;
    outline: none;
    background-color: #000;
}

.btn-buy:hover,
.btn-buy:active
{
    background-color: #663d15;
}

.number-btn
{
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;

    display: inline-block;

    margin-top: 40px;
    margin-right: 5px;
    padding: 10px 20px;

    cursor: pointer;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: none;
    outline: none;
    background-color: #000;
}

.number-btn:hover,
.number-btn:active
{
    background-color: #663d15;
}








/* The container */
.checkbox-container
{
    font-size: px;

    position: relative;

    display: block;

    margin-bottom: 25px;
    padding-left: 35px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input
{
    position: absolute;

    cursor: pointer;

    opacity: 0;
}

/* Create a custom checkbox */
.checkbox-checkmark
{
    position: absolute;
    /*
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
*/
    position: absolute;
    top: 2px;
    left: 0;

    width: 17px;
    height: 17px;

    border: 2px solid #000;
}
.checkbox-container input[type='checkbox']:checked + .checkbox-checkmark::before,
.checkbox-container input[type='checkbox']:checked + .checkbox-checkmark::after
{
    position: absolute;
    top: 8px;
    left: 1px;

    width: 15px;
    height: 2px;

    content: '';

    background-color: #000;
}
.checkbox-container input[type='checkbox'] + .checkbox-checkmark::before
{
    transform: rotate(45deg);
}

.checkbox-container input[type='checkbox'] + .checkbox-checkmark::after
{
    transform: rotate(-45deg);
}




.radio-container
{
    position: relative;

    display: block;

    margin-bottom: 12px;
    padding-left: 35px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input
{
    position: absolute;

    cursor: pointer;

    opacity: 0;
}

/* Create a custom radio button */
.radio-checkmark
{
    position: absolute;
    top: 0;
    left: 0;

    width: 14px;
    height: 14px;

    border: 2px solid black;
    border-radius: 50%;
    background-color: #eee;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after
{
    position: absolute;

    display: none;

    content: '';
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after
{
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after
{
    top: 3px;
    left: 3px;

    width: 8px;
    height: 8px;

    border-radius: 50%;
    background: black;
}

.inner-item-column-left
{
    float: left;

    width: 480px;
    margin-right: 60px;
}

.inner-item-column-right
{
    float: left;

    width: 400px;
}


.item-image
{
    margin-right: 17px;

    box-shadow: 0 0 15px 0 rgba(0,0,0,.75);
}

.item-image:first-child
{
    margin-bottom: 13px;
}


.item-state
{
    position: relative;

    margin-bottom: 40px;
}




.item-state-article
{
    position: absolute;
    top: -14px;
    left: 288px;

    color: #aba9a7;
}

.item-description
{
    margin-bottom: 40px;

    text-indent: 2px;
}

.brdcrmp-list
{
    list-style: none;
}

.brdcrmp-list li
{
    position: relative;

    display: block;

    margin-left: -15px;
}

.brdcrmp-list li::after
{
    position: absolute;
    top: 8px;
    right: 18px;

    width: 8px;
    height: 8px;
    margin-right: 370px;

    content: '';
    transform: rotate(45deg);

    background-color: #000;
}

.map
{
    margin-left: 300px;
}
